<div *ngIf="projects && projects.length > 0">
  <h1 class="title is-3">Click on the project of your choice:</h1>
  <div *ngFor="let project of projects">
    <div>
      <div class="card">
        <header class="card-header">
          <div class="card-header-title columns">
            <div class='column is-three-quarters'>
                <h3 class="title is-4">{{project.name}}</h3>
            </div>
            <div class='column is-one-quarters'>
              <button 
                class="button is-medium is-rounded"
                (click)='update_selected_project(project.id)'
              >
                <span *ngIf='project.id != selected_project'>Show Streams</span>
                <span *ngIf='project.id == selected_project'>Hide Streams</span>
              </button>
            </div>
          </div>
        </header>
        <div class="card-content">
          <div class="content">
            <h3 class="title is-4"><span>Creator: </span>{{project.creator}}</h3>
            <h3 class="title is-4"><span>Organisation: </span>{{project.organisation}}</h3>
            <h3 class="title is-4" *ngIf='project.id == selected_project'>Streams:</h3>
          </div>
        </div>
        <app-stream *ngIf='project.id == selected_project' [streams]="selected_streams"></app-stream>
      </div>
      <br>
    </div>
  </div><br>
</div>